################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JerkyTool/.vs/JerkyTool/v15
/JerkyTool/JerkyTool/obj/Debug
/JerkyTool/JerkyTool/bin/Release
/JerkyTool/JerkyTool/bin/Debug/net45
/JerkyTool/JerkyTool/bin/Debug/netstandard2.0
