################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JerkyTool/.vs/JerkyTool/v15
